
<%- layout("/layout/boilerplates.ejs") %>

<div class="flex">
    <h2>Medipassword</h2>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Add MediaPass</h5>
    <p class="card-text">Add of any Media password that can you login or password</p>
    <a href="/mediapassword/create" class="text-body-primary">Add MediaPassword</a>
    <a href="/mediapassword" class="text-body-primary">Mediapassword</a>
  </div>
</div>

    <h2>AccountPassword</h2>
   <div class="flex">
    <h2>Medipassword</h2>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Add MediaPass</h5>
    <p class="card-text">Add of any Media password that can you login or password</p>
    <a href="/accountpassword/create" class="text-body-primary">Add AccountPassword</a>
    <a href="/accountpassword" class="text-body-primary">Accountpassword</a>
  </div>
</div>

</div>